<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>email form</title>
  </head>
  <body>

    <form class="" method="post"> <!--보낼 곳이 action
      /*post는 get과 다르게 url로 담겨오는 것이 아님.. get은 보안 위험성.. */ -->
      email : <input type="text" name="email" value=""><br>
      passwd : <input type="password" name="password" value=""><br>
    </form>

    <button class="ajaxsend">login</button>

    <div class="result"></div>

    <script>
      document.querySelector('.ajaxsend').addEventListener('click', function()
      {
        var email = document.getElementsByName('email')[0].value;
        var password = document.getElementsByName('password')[0].value;
        sendAjax('http://localhost:3000/login', {'email' : email, 'password' : password}); //CORS 떄문에 애먹음.. 출처 모양의 스킴, 호스트, 포트 아예 일치 시켜줘야 한다.
      })//클릭하면 form의 1번쨰인 요소인 inputdata를 보내기

      function sendAjax(url,data)
      {
        data = JSON.stringify(data); //문자열로 바꾸기

        var xhr = new XMLHttpRequest();
        xhr.open('POST', url);
        xhr.setRequestHeader('Content-Type', "application/json"); //서버로 보낼 떄 json 형태로
        xhr.send(data);

        xhr.addEventListener('load', function(){ //잘 로드 되면 띄우기
          var result = JSON.parse(xhr.responseText);
          var resultDiv = document.querySelector(".result");
          if(result.email) //rogin !
            //resultDiv.innerHTML = "Welcome " + result.email + "!!";
            window.location.href = "/main";
          else
            resultDiv.innerHTML = result;
        });
      }
    </script>
  </body>
</html>
